@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}

#intro {
  background: url('img/intro.jpeg');
  background-size: cover;
}
